@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}
/* NavBar */

.container-1 {
  max-width: 1320px;
  margin: auto;
  position: relative;
}

.freshly-pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0px;
}

.freshly-logo {
  margin-right: 1.5rem;
}

.freshly-logo img {
  width: 6rem;
  max-width: 100%;
}

.freshlybusiness-logo {
  margin-left: 1.5rem;
}

.freshlybusiness-logo img {
  width: 10.5rem;
  max-width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 12px 0px;
  position: relative;
}

.logo img {
  width: 200px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-signup .login-link {
  font-size: 1.4rem;
  color: #303030;
  font-weight: 600;
  margin-right: 15px;
}

.login-signup .login-link:hover {
  color: #3167ff;
}

.login-signup .signup-button {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #3167ff;
  padding: 7px 12px;
}

.menu-plans-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.menu-plans-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-plans-links ul li {
  padding: 10px 15px;
  margin-right: 25px;
}

.menu-plans-links ul li a {
  font-size: 1.4rem;
  color: #333;
  font-family: inherit;
}

.menu-plans-links ul li:hover {
  background-color: #eee;
}

/* Navbar Responsive */
.navbar-ham {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* For Business Section */

.for-business-section .for-business-image-parent {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.for-business-section .for-business-image-parent .flex-image {
  width: 55%;
}

.for-business-section .for-business-image-parent .for-business-image-child {
  background-color: #fff;
  min-height: 400px;
  width: 45%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.for-business-section .for-business-image-parent .for-business-image-child h1 {
  width: 85%;
  font-size: 4rem;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.4;
}

.for-business-section .for-business-image-parent .for-business-image-child h5 {
  width: 85%;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.5;
}

.for-business-section .for-business-image-parent .for-business-image-child p {
  font-size: 1.5rem;
  width: 85%;
  line-height: 1.5;
  margin-bottom: 25px;
}

.for-business-section
  .for-business-image-parent
  .for-business-image-child
  .for-business-btn
  a {
  padding: 12px 18px;
  background-color: #3167ff;
  color: #fff;
  font-size: 1.6rem;
}

.for-business-section .for-business-image-parent .for-business-image {
  min-height: 400px;
  background-image: url('../Img/freshlybusiness/image1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* How It Works */

.container-1 .how-work-section {
  padding: 65px 35px;
}
.container-1 .how-work-section h1 {
  font-size: 4rem;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}

.container-1 .how-work-section .how-work-section-parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-1
  .how-work-section
  .how-work-section-parent
  .how-work-section-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-1 .how-work-section .how-work-section-parent .child-change {
  margin-bottom: 20px;
}

.container-1
  .how-work-section
  .how-work-section-parent
  .how-work-section-child
  img {
  width: 80px;
}

.container-1
  .how-work-section
  .how-work-section-parent
  .how-work-section-child
  h6 {
  font-size: 1.6rem;
  color: #333;
  margin: 10px 0px;
}

.container-1
  .how-work-section
  .how-work-section-parent
  .how-work-section-child
  p {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
  width: 80%;
  text-align: center;
}

/* Nutritious Meal */

.nutritious-section .nutritious-image-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutritious-section .nutritious-image-parent .flex-image {
  width: 50%;
}

.nutritious-section .nutritious-image-parent .nutritious-image-child {
  background-color: #fff;
  min-height: 750px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nutritious-section .nutritious-image-parent .nutritious-image-child h1 {
  width: 85%;
  font-size: 3.5rem;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 35px auto;
}

.nutritious-section
  .nutritious-image-parent
  .nutritious-image-child
  .inner-child-nutritious {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.nutritious-section
  .nutritious-image-parent
  .nutritious-image-child
  .inner-child-nutritious
  p {
  font-size: 1.3rem;
  width: 45%;
  line-height: 1.5;
  text-align: center;
  margin: 25px auto;
}

.nutritious-section
  .nutritious-image-parent
  .nutritious-image-child
  .inner-child-nutritious
  img {
  display: block;
  margin: 0 auto;
  height: 30px;
  margin-bottom: 2px;
  max-width: 100%;
}

.nutritious-section .nutritious-image-parent .nutritious-image {
  min-height: 750px;
  background-image: url('../Img/freshlybusiness/image2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Simple Recipe */
.simple-recipe h1 {
  font-size: 4rem;
  color: #333;
  text-align: center;
  margin: 45px auto 25px auto;
}

.simple-recipe .gif {
  width: 350px;
  margin: 0 auto;
}

.simple-recipe .gif img {
  width: 100%;
  display: block;
  margin: 0 auto 25px auto;
}

.simple-recipe p {
  font-size: 1.4rem;
  margin: 0 auto 45px auto;
  font-weight: 600;
  text-align: center;
}

/* Form Section */
.formly-section .formly-image-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.formly-section .formly-image-parent .flex-image {
  width: 50%;
}

.formly-section .formly-image-parent .formly-image-child {
  background-color: #fff;
  min-height: 750px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formly-section .formly-image-parent .formly-image-child h1 {
  width: 85%;
  font-size: 3.5rem;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 35px auto;
}

.formly-section .formly-image-parent .formly-image {
  min-height: 750px;
  background-image: url('../Img/freshlybusiness/image3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.formly-section .formly-image-parent .formly-image-child .form-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 8px auto;
}

.formly-section .formly-image-parent .formly-image-child form {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.formly-section .formly-image-parent .formly-image-child .form-control label {
  display: block;
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 5px;
}

.formly-section .formly-image-parent .formly-image-child .form-control input {
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #666;
  width: 100%;
}

.formly-section .formly-image-parent .formly-image-child .form-control .lname,
.meal,
.zip {
  margin-left: 20px;
  width: 50%;
}

.formly-section .formly-image-parent .formly-image-child .form-control .fname,
.cname,
.phone {
  width: 50%;
}

.formly-section .formly-image-parent .formly-image-child .form-control .role,
.email {
  width: 100%;
}

.formly-section .formly-image-parent .formly-image-child .form-btn {
  margin: 25px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.formly-section .formly-image-parent .formly-image-child .form-btn a {
  padding: 10px 15px;
  color: #fff;
  background-color: #3167ff;
}

.formly-section .formly-image-parent .formly-image-child .first-text,
.second-text {
  font-size: 1.4rem;
  color: #333;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* select */
.formly-section
  .formly-image-parent
  .formly-image-child
  .form-control
  .meal
  select#soflow,
select#soflow-color {
  border: 1px solid #666;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  overflow: hidden;
  padding: 6px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  outline: none;
  border-radius: 5%;
}

.formly-section
  .formly-image-parent
  .formly-image-child
  .form-control
  .meal
  select#soflow,
select#soflow-color::placeholder {
  font-size: 1.4rem;
  color: #666;
}

.footer-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 100px 0px;
}

.footer-parent .footer-logo {
  width: 120px;
}

.footer-parent .footer-logo img {
  width: 100%;
  margin-bottom: 5px;
}

.footer-parent .footer-logo p {
  font-size: 1.3rem;
  color: #666;
}

.footer-parent .footer-company {
  width: 120px;
}

.footer-parent .footer-company h5 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1rem;
}

.footer-parent .footer-company ul {
  list-style: none;
}

.footer-parent .footer-company li {
  margin-bottom: 5px;
}

.footer-parent .footer-company li a {
  font-size: 1.3rem;
  color: #666;
}

.footer-parent .footer-learn {
  width: 120px;
}

.footer-parent .footer-learn h5 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1rem;
}

.footer-parent .footer-learn ul {
  list-style: none;
}

.footer-parent .footer-learn li {
  margin-bottom: 5px;
}

.footer-parent .footer-learn li a {
  font-size: 1.3rem;
  color: #666;
}

.footer-parent .footer-social {
  width: 250px;
}

.footer-parent .footer-social h5 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1rem;
}

.footer-parent .footer-social .footer-socialmedia img {
  width: 20px;
  margin-right: 10px;
}

.footer-parent .footer-social .footer-store {
  width: 120px;
  margin-top: 15px;
}

.footer-parent .footer-social .footer-store img {
  width: 100%;
}

/* Media Queries */

@media (max-width: 1150px) {
  .formly-section .formly-image-parent .formly-image-child form {
    width: 400px;
  }
}

@media (max-width: 1050px) {
  .nutritious-section
    .nutritious-image-parent
    .nutritious-image-child
    .inner-child-nutritious
    p {
    width: 75%;
    margin: 20px auto;
  }
}

@media (max-width: 850px) {
  .formly-section .formly-image-parent {
    flex-direction: column-reverse;
  }

  .formly-section .formly-image-parent .flex-image {
    width: 85%;
  }

  .formly-section .formly-image-parent .formly-image-child {
    width: 85%;
  }

  .formly-section .formly-image-parent .formly-image-child form {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .for-business-section .for-business-image-parent {
    flex-direction: column-reverse;
  }

  .for-business-section .for-business-image-parent .flex-image {
    width: 85%;
  }

  .for-business-section .for-business-image-parent .for-business-image-child {
    width: 85%;
    margin-left: 0px;
  }
  .for-business-section
    .for-business-image-parent
    .for-business-image-child
    .for-business-btn {
    display: block;
    margin: 25px auto 0 auto;
  }

  .for-business-section
    .for-business-image-parent
    .for-business-image-child
    h1 {
    margin: 0 auto 20px auto;
  }

  .for-business-section
    .for-business-image-parent
    .for-business-image-child
    h5 {
    margin: 0 auto 20px auto;
  }

  .for-business-section .for-business-image-parent .for-business-image-child p {
    margin: 0 auto 20px auto;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-ham {
    display: none;
    width: 100%;
    height: 50vh;
  }

  .navbar-ham ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
  }

  .navbar-ham ul .list-1 {
    margin: 20px 0px 0px;
  }

  .navbar-ham ul .list-btn button {
    width: 100px;
    padding: 12px 15px;
    font-size: 1.6rem;
    color: #fff;
    background-color: #3167ff;
    cursor: pointer;
    margin: 25px 0px;
    border: none;
    outline: none;
  }

  .navbar-ham ul .list-1 li span {
    margin: 10px 5px 0px;
    color: #666;
  }

  .navbar-ham ul .list-1 li span:hover {
    color: #3167ff;
  }

  .navbar-ham.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-signup {
    display: none;
  }

  .container-1 .how-work-section {
    padding: 0px 25px 25px;
  }

  .simple-recipe h1 {
    margin: 0px auto 25px auto;
  }
}

@media (max-width: 720px) {
  .nav {
    margin-top: 15px;
    padding: 12px 15px;
  }

  .nutritious-section .nutritious-image-parent {
    flex-direction: column-reverse;
  }

  .nutritious-section .nutritious-image-parent .flex-image {
    width: 85%;
  }

  .nutritious-section .nutritious-image-parent .nutritious-image-child {
    width: 85%;
    flex-direction: column;
    margin-top: 15px;
  }

  .container-1 .how-work-section .how-work-section-parent {
    flex-wrap: wrap;
  }

  .footer-parent .footer-logo {
    display: none;
  }

  .footer-parent {
    justify-content: center;
    align-items: center;
  }

  .footer-parent .footer-social {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-parent .footer-company {
    margin-left: 65px;
  }
}

@media (max-width: 550px) {
  .for-business-section
    .for-business-image-parent
    .for-business-image-child
    h1 {
    width: 95%;
    line-height: 1.4;
  }

  .for-business-section
    .for-business-image-parent
    .for-business-image-child
    h5 {
    width: 95%;
  }

  .for-business-section .for-business-image-parent .for-business-image-child p {
    width: 95%;
  }

  .for-business-section
    .for-business-image-parent
    .for-business-image-child
    h1 {
    width: 95%;
    font-size: 3.2rem;
    line-height: 1.3;
  }

  .container-1 .how-work-section h1 {
    width: 95%;
    font-size: 3.2rem;
    line-height: 1.3;
  }

  .nutritious-section .nutritious-image-parent .nutritious-image-child h1 {
    width: 95%;
    font-size: 3.2rem;
    line-height: 1.3;
  }

  .simple-recipe h1 {
    width: 95%;
    font-size: 3.2rem;
    line-height: 1.3;
  }

  .formly-section .formly-image-parent .formly-image-child h1 {
    width: 95%;
    font-size: 3.2rem;
    line-height: 1.3;
  }
}

@media (max-width: 500px) {
  .freshly-pages {
    display: none;
  }

  .footer-parent .footer-company {
    margin-left: 45px;
  }
}
